# Игнорирование исполняемых файлов и бинарников
*.exe
*.dll
*.so
*.dylib

# Игнорирование папок с зависимостями и сборками
bin/
obj/
vendor/

# Игнорирование файлов конфигурации и логов
*.log
*.ini
*.json

# Игнорирование временных файлов и папок
*.tmp
tmp/

# Игнорирование файлов IDE (например, Visual Studio Code и IntelliJ)
.vscode/
.idea/

# Другие файлы, которые могут генерироваться в процессе разработки
.DS_Store  # Специфичный для MacOS
Thumbs.db  # Специфичный для Windows

# Игнорирование файлов сборки
dist/
build/